<h1>Please login</h1>

<form id="login-form" action="login" method="POST">
  <!--Name: <input type="text" name="name"/>-->
  <!--<input type="submit" a href="/" class="button" value="Login">-->
  <a href="/auth/facebook">Login with Facebook</a>
</form>